In [2]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split

Bad key "nbagg.transparent" on line 426 in
/usr/local/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.2.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key "animation.mencoder_path" on line 509 in
/usr/local/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.2.1/matplotlibrc.template
or from the matplotlib source distribution

Bad key "animation.mencoder_args" on line 512 in
/usr/local/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.2.1/matplotlibrc.template
or from the matplotlib source distribution
In /usr/local/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The text.latex.unicode rcparam was deprecated in Matplotlib 3.0 and will be removed in 3.2.
In /usr/local/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The savefig.frameon rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
In /usr/local/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The pgf.debug rcparam was deprecated in Matplotlib 3.0 and will be removed in 3.2.
In /usr/local/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The verbose.level rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
In /usr/local/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The verbose.fileo rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.

In [3]:
data_dir="/Users/laurasansc/github/algorithms_bioinformatics/data/"

In [4]:
# Read the input file
raw_data_file = data_dir + "raw/predictions_smm.txt"
raw_data = pd.read_csv(raw_data_file, sep="\t")

raw_data

,species,allele,length,cv,sequence,inequality,ic50,smm
0,chimpanzee,Patr A*0901,11,0,ACISSEATTPV,=,221.26100,53.8
1,chimpanzee,Patr A*0901,11,0,AQISSEATTPV,=,41.18890,53.8
2,chimpanzee,Patr A*0901,11,0,ARISSEATTPV,=,621.99800,53.8
3,chimpanzee,Patr A*0901,11,0,AYESSEATTPV,=,421.11700,166.0
4,chimpanzee,Patr A*0901,11,0,AYFSSEATTPV,=,54.91940,166.0
...,...,...,...,...,...,...,...,...
48823,mouse,H-2 Ld,9,4,SLSAYIIRV,>,77142.90000,42442.4
48824,mouse,H-2 Ld,9,4,SPTVWLSVI,=,27000.00000,5071.3
48825,mouse,H-2 Ld,9,4,SSYRRPVGI,>,77142.90000,1717830.0
48826,mouse,H-2 Ld,9,4,SYIPSAEKI,=,30816.10000,30928.6
48827,mouse,H-2 Ld,9,4,YPHYMPTNL,=,9.64286,60.8

In [5]:
# Data distribution by IC50 and species
#raw_data['ic50'].hist(by=raw_data['species'])

In [6]:
# Group by human
human_data = raw_data[raw_data['species'].isin(['human'])]

human_data

,species,allele,length,cv,sequence,inequality,ic50,smm
221,human,HLA A*0101,9,0,AANEIRISK,>,20000.0000,32211.4
222,human,HLA A*0101,9,0,AEHDPWWAV,>,20000.0000,640118.0
223,human,HLA A*0101,9,0,AEIDRSFKP,>,20000.0000,1030740.0
224,human,HLA A*0101,9,0,AFGLFWLVW,>,20000.0000,283674.0
225,human,HLA A*0101,9,0,ALSMADIFI,>,20000.0000,9716.1
...,...,...,...,...,...,...,...,...
41528,human,HLA B*5801,9,4,YTDDYPMYK,>,20000.0000,35298.0
41529,human,HLA B*5801,9,4,YTFCRLNVK,>,20000.0000,47527.0
41530,human,HLA B*5801,9,4,YTFVVPLVY,=,65.1441,69.3
41531,human,HLA B*5801,9,4,YTSDYFISY,=,1139.0000,800.8
41532,human,HLA B*5801,9,4,YYYNFSEDL,>,20000.0000,8458.8

In [7]:
#filtered_data = human_data.groupby("allele").filter(lambda x: (x["ic50"] < 500))
filtered_data = human_data.loc[human_data['ic50'] < 500 ]

filtered_data

      species      allele  length  cv   sequence inequality       ic50    smm
236     human  HLA A*0101       9   0  ATAKAAAAY          =   15.00000  403.4
237     human  HLA A*0101       9   0  ATDALMTGY          <    1.00000  127.6
245     human  HLA A*0101       9   0  CSNDKSLVY          =  115.00000  589.8
246     human  HLA A*0101       9   0  CTCGSSDLY          =  111.44500  151.6
247     human  HLA A*0101       9   0  CTDDNALAY          =    4.50000   68.4
...       ...         ...     ...  ..        ...        ...        ...    ...
41516   human  HLA B*5801       9   4  YLAVVPLVY          =   95.60930  239.7
41518   human  HLA B*5801       9   4  YPAEITLTW          =   55.00000  276.1
41522   human  HLA B*5801       9   4  YTAVVKLVY          =    3.73042   94.5
41525   human  HLA B*5801       9   4  YTAVVPLVM          =   12.29520   70.2
41530   human  HLA B*5801       9   4  YTFVVPLVY          =   65.14410   69.3

[11754 rows x 8 columns]

In [15]:
# get unique alleles names
alleles = filtered_data["allele"]
alleles = alleles.drop_duplicates()

# get top 20
alleles = alleles.head(20)
list_alleles = alleles.to_list()
alleles = pd.DataFrame(alleles)
alleles

           allele
236    HLA A*0101
1434   HLA A*0201
5840   HLA A*0202
8342   HLA A*0203
10842  HLA A*0206
13333  HLA A*0301
16509  HLA A*1101
19585  HLA A*2301
19695  HLA A*2402
19968  HLA A*2403
20247  HLA A*2601
20897  HLA A*2902
21116  HLA A*3001
21776  HLA A*3002
21870  HLA A*3101
24792  HLA A*3301
26990  HLA A*6801
29186  HLA A*6802
31692  HLA A*6901
32506  HLA B*0702

In [16]:
# Get a final data frame with 20 human selected HLA alleles with IC50 > 500 
selected_alleles = pd.merge(filtered_data, alleles, on='allele')

selected_alleles

      species      allele  length  cv    sequence inequality      ic50     smm
0       human  HLA A*0101       9   0   ATAKAAAAY          =   15.0000   403.4
1       human  HLA A*0101       9   0   ATDALMTGY          <    1.0000   127.6
2       human  HLA A*0101       9   0   CSNDKSLVY          =  115.0000   589.8
3       human  HLA A*0101       9   0   CTCGSSDLY          =  111.4450   151.6
4       human  HLA A*0101       9   0   CTDDNALAY          =    4.5000    68.4
...       ...         ...     ...  ..         ...        ...       ...     ...
10481   human  HLA B*0702      10   4  SPMLYQLLEA          =   94.0370   256.0
10482   human  HLA B*0702      10   4  SPMVIATTDM          =   21.6111    29.4
10483   human  HLA B*0702      10   4  SPYYIRKESY          =   65.3635  1154.8
10484   human  HLA B*0702      10   4  TPARVTGGVF          =   15.8973    26.7
10485   human  HLA B*0702      10   4  VPDIKLDAVL          =    4.9440   544.5

[10486 rows x 8 columns]

In [18]:
# For each of the alleles
# Split 80/20 for train / test
# Write an ouput file for each

for i in range(len(list_alleles)):
    item = list_alleles[i] 
    allele2split = selected_alleles.loc[selected_alleles['allele']== item]
    alleles["id"] = alleles["allele"] + "_" + str(i)
    print(alleles)
    train, test = train_test_split(allele2split, test_size=0.2)
    
    # Re-write item name without *
    item = item.replace(' ', '_')
    item = item.replace('*', '_')
    
    # write csv files
    name_file_train = item + "_train.csv"
    train.to_csv("./data/"+name_file_train)
    
    name_file_test = item + "_test.csv"
    test.to_csv("./data/"+name_file_test)

           allele           id
236    HLA A*0101  HLA A*01010
1434   HLA A*0201  HLA A*02010
5840   HLA A*0202  HLA A*02020
8342   HLA A*0203  HLA A*02030
10842  HLA A*0206  HLA A*02060
13333  HLA A*0301  HLA A*03010
16509  HLA A*1101  HLA A*11010
19585  HLA A*2301  HLA A*23010
19695  HLA A*2402  HLA A*24020
19968  HLA A*2403  HLA A*24030
20247  HLA A*2601  HLA A*26010
20897  HLA A*2902  HLA A*29020
21116  HLA A*3001  HLA A*30010
21776  HLA A*3002  HLA A*30020
21870  HLA A*3101  HLA A*31010
24792  HLA A*3301  HLA A*33010
26990  HLA A*6801  HLA A*68010
29186  HLA A*6802  HLA A*68020
31692  HLA A*6901  HLA A*69010
32506  HLA B*0702  HLA B*07020
           allele           id
236    HLA A*0101  HLA A*01011
1434   HLA A*0201  HLA A*02011
5840   HLA A*0202  HLA A*02021
8342   HLA A*0203  HLA A*02031
10842  HLA A*0206  HLA A*02061
13333  HLA A*0301  HLA A*03011
16509  HLA A*1101  HLA A*11011
19585  HLA A*2301  HLA A*23011
19695  HLA A*2402  HLA A*24021
19968  HLA A*2403  HLA A*24031
20247  HLA A*2601  HLA A*26011
20897  HLA A*2902  HLA A*29021
21116  HLA A*3001  HLA A*30011
21776  HLA A*3002  HLA A*30021
21870  HLA A*3101  HLA A*31011
24792  HLA A*3301  HLA A*33011
26990  HLA A*6801  HLA A*68011
29186  HLA A*6802  HLA A*68021
31692  HLA A*6901  HLA A*69011
32506  HLA B*0702  HLA B*07021
           allele           id
236    HLA A*0101  HLA A*01012
1434   HLA A*0201  HLA A*02012
5840   HLA A*0202  HLA A*02022
8342   HLA A*0203  HLA A*02032
10842  HLA A*0206  HLA A*02062
13333  HLA A*0301  HLA A*03012
16509  HLA A*1101  HLA A*11012
19585  HLA A*2301  HLA A*23012
19695  HLA A*2402  HLA A*24022
19968  HLA A*2403  HLA A*24032
20247  HLA A*2601  HLA A*26012
20897  HLA A*2902  HLA A*29022
21116  HLA A*3001  HLA A*30012
21776  HLA A*3002  HLA A*30022
21870  HLA A*3101  HLA A*31012
24792  HLA A*3301  HLA A*33012
26990  HLA A*6801  HLA A*68012
29186  HLA A*6802  HLA A*68022
31692  HLA A*6901  HLA A*69012
32506  HLA B*0702  HLA B*07022
           allele           id
236    HLA A*0101  HLA A*01013
1434   HLA A*0201  HLA A*02013
5840   HLA A*0202  HLA A*02023
8342   HLA A*0203  HLA A*02033
10842  HLA A*0206  HLA A*02063
13333  HLA A*0301  HLA A*03013
16509  HLA A*1101  HLA A*11013
19585  HLA A*2301  HLA A*23013
19695  HLA A*2402  HLA A*24023
19968  HLA A*2403  HLA A*24033
20247  HLA A*2601  HLA A*26013
20897  HLA A*2902  HLA A*29023
21116  HLA A*3001  HLA A*30013
21776  HLA A*3002  HLA A*30023
21870  HLA A*3101  HLA A*31013
24792  HLA A*3301  HLA A*33013
26990  HLA A*6801  HLA A*68013
29186  HLA A*6802  HLA A*68023
31692  HLA A*6901  HLA A*69013
32506  HLA B*0702  HLA B*07023
           allele           id
236    HLA A*0101  HLA A*01014
1434   HLA A*0201  HLA A*02014
5840   HLA A*0202  HLA A*02024
8342   HLA A*0203  HLA A*02034
10842  HLA A*0206  HLA A*02064
13333  HLA A*0301  HLA A*03014
16509  HLA A*1101  HLA A*11014
19585  HLA A*2301  HLA A*23014
19695  HLA A*2402  HLA A*24024
19968  HLA A*2403  HLA A*24034
20247  HLA A*2601  HLA A*26014
20897  HLA A*2902  HLA A*29024
21116  HLA A*3001  HLA A*30014
21776  HLA A*3002  HLA A*30024
21870  HLA A*3101  HLA A*31014
24792  HLA A*3301  HLA A*33014
26990  HLA A*6801  HLA A*68014
29186  HLA A*6802  HLA A*68024
31692  HLA A*6901  HLA A*69014
32506  HLA B*0702  HLA B*07024
           allele           id
236    HLA A*0101  HLA A*01015
1434   HLA A*0201  HLA A*02015
5840   HLA A*0202  HLA A*02025
8342   HLA A*0203  HLA A*02035
10842  HLA A*0206  HLA A*02065
13333  HLA A*0301  HLA A*03015
16509  HLA A*1101  HLA A*11015
19585  HLA A*2301  HLA A*23015
19695  HLA A*2402  HLA A*24025
19968  HLA A*2403  HLA A*24035
20247  HLA A*2601  HLA A*26015
20897  HLA A*2902  HLA A*29025
21116  HLA A*3001  HLA A*30015
21776  HLA A*3002  HLA A*30025
21870  HLA A*3101  HLA A*31015
24792  HLA A*3301  HLA A*33015
26990  HLA A*6801  HLA A*68015
29186  HLA A*6802  HLA A*68025
31692  HLA A*6901  HLA A*69015
32506  HLA B*0702  HLA B*07025
           allele           id
236    HLA A*0101  HLA A*01016
1434   HLA A*0201  HLA A*02016
5840   HLA A*0202  HLA A*02026
8342   HLA A*0203  HLA A*02036
10842  HLA A*0206  HLA A*02066
13333  HLA A*0301  HLA A*03016
16509  HLA A*1101  HLA A*11016
19585  HLA A*2301  HLA A*23016
19695  HLA A*2402  HLA A*24026
19968  HLA A*2403  HLA A*24036
20247  HLA A*2601  HLA A*26016
20897  HLA A*2902  HLA A*29026
21116  HLA A*3001  HLA A*30016
21776  HLA A*3002  HLA A*30026
21870  HLA A*3101  HLA A*31016
24792  HLA A*3301  HLA A*33016
26990  HLA A*6801  HLA A*68016
29186  HLA A*6802  HLA A*68026
31692  HLA A*6901  HLA A*69016
32506  HLA B*0702  HLA B*07026
           allele           id
236    HLA A*0101  HLA A*01017
1434   HLA A*0201  HLA A*02017
5840   HLA A*0202  HLA A*02027
8342   HLA A*0203  HLA A*02037
10842  HLA A*0206  HLA A*02067
13333  HLA A*0301  HLA A*03017
16509  HLA A*1101  HLA A*11017
19585  HLA A*2301  HLA A*23017
19695  HLA A*2402  HLA A*24027
19968  HLA A*2403  HLA A*24037
20247  HLA A*2601  HLA A*26017
20897  HLA A*2902  HLA A*29027
21116  HLA A*3001  HLA A*30017
21776  HLA A*3002  HLA A*30027
21870  HLA A*3101  HLA A*31017
24792  HLA A*3301  HLA A*33017
26990  HLA A*6801  HLA A*68017
29186  HLA A*6802  HLA A*68027
31692  HLA A*6901  HLA A*69017
32506  HLA B*0702  HLA B*07027
           allele           id
236    HLA A*0101  HLA A*01018
1434   HLA A*0201  HLA A*02018
5840   HLA A*0202  HLA A*02028
8342   HLA A*0203  HLA A*02038
10842  HLA A*0206  HLA A*02068
13333  HLA A*0301  HLA A*03018
16509  HLA A*1101  HLA A*11018
19585  HLA A*2301  HLA A*23018
19695  HLA A*2402  HLA A*24028
19968  HLA A*2403  HLA A*24038
20247  HLA A*2601  HLA A*26018
20897  HLA A*2902  HLA A*29028
21116  HLA A*3001  HLA A*30018
21776  HLA A*3002  HLA A*30028
21870  HLA A*3101  HLA A*31018
24792  HLA A*3301  HLA A*33018
26990  HLA A*6801  HLA A*68018
29186  HLA A*6802  HLA A*68028
31692  HLA A*6901  HLA A*69018
32506  HLA B*0702  HLA B*07028
           allele           id
236    HLA A*0101  HLA A*01019
1434   HLA A*0201  HLA A*02019
5840   HLA A*0202  HLA A*02029
8342   HLA A*0203  HLA A*02039
10842  HLA A*0206  HLA A*02069
13333  HLA A*0301  HLA A*03019
16509  HLA A*1101  HLA A*11019
19585  HLA A*2301  HLA A*23019
19695  HLA A*2402  HLA A*24029
19968  HLA A*2403  HLA A*24039
20247  HLA A*2601  HLA A*26019
20897  HLA A*2902  HLA A*29029
21116  HLA A*3001  HLA A*30019
21776  HLA A*3002  HLA A*30029
21870  HLA A*3101  HLA A*31019
24792  HLA A*3301  HLA A*33019
26990  HLA A*6801  HLA A*68019
29186  HLA A*6802  HLA A*68029
31692  HLA A*6901  HLA A*69019
32506  HLA B*0702  HLA B*07029
           allele            id
236    HLA A*0101  HLA A*010110
1434   HLA A*0201  HLA A*020110
5840   HLA A*0202  HLA A*020210
8342   HLA A*0203  HLA A*020310
10842  HLA A*0206  HLA A*020610
13333  HLA A*0301  HLA A*030110
16509  HLA A*1101  HLA A*110110
19585  HLA A*2301  HLA A*230110
19695  HLA A*2402  HLA A*240210
19968  HLA A*2403  HLA A*240310
20247  HLA A*2601  HLA A*260110
20897  HLA A*2902  HLA A*290210
21116  HLA A*3001  HLA A*300110
21776  HLA A*3002  HLA A*300210
21870  HLA A*3101  HLA A*310110
24792  HLA A*3301  HLA A*330110
26990  HLA A*6801  HLA A*680110
29186  HLA A*6802  HLA A*680210
31692  HLA A*6901  HLA A*690110
32506  HLA B*0702  HLA B*070210
           allele            id
236    HLA A*0101  HLA A*010111
1434   HLA A*0201  HLA A*020111
5840   HLA A*0202  HLA A*020211
8342   HLA A*0203  HLA A*020311
10842  HLA A*0206  HLA A*020611
13333  HLA A*0301  HLA A*030111
16509  HLA A*1101  HLA A*110111
19585  HLA A*2301  HLA A*230111
19695  HLA A*2402  HLA A*240211
19968  HLA A*2403  HLA A*240311
20247  HLA A*2601  HLA A*260111
20897  HLA A*2902  HLA A*290211
21116  HLA A*3001  HLA A*300111
21776  HLA A*3002  HLA A*300211
21870  HLA A*3101  HLA A*310111
24792  HLA A*3301  HLA A*330111
26990  HLA A*6801  HLA A*680111
29186  HLA A*6802  HLA A*680211
31692  HLA A*6901  HLA A*690111
32506  HLA B*0702  HLA B*070211
           allele            id
236    HLA A*0101  HLA A*010112
1434   HLA A*0201  HLA A*020112
5840   HLA A*0202  HLA A*020212
8342   HLA A*0203  HLA A*020312
10842  HLA A*0206  HLA A*020612
13333  HLA A*0301  HLA A*030112
16509  HLA A*1101  HLA A*110112
19585  HLA A*2301  HLA A*230112
19695  HLA A*2402  HLA A*240212
19968  HLA A*2403  HLA A*240312
20247  HLA A*2601  HLA A*260112
20897  HLA A*2902  HLA A*290212
21116  HLA A*3001  HLA A*300112
21776  HLA A*3002  HLA A*300212
21870  HLA A*3101  HLA A*310112
24792  HLA A*3301  HLA A*330112
26990  HLA A*6801  HLA A*680112
29186  HLA A*6802  HLA A*680212
31692  HLA A*6901  HLA A*690112
32506  HLA B*0702  HLA B*070212
           allele            id
236    HLA A*0101  HLA A*010113
1434   HLA A*0201  HLA A*020113
5840   HLA A*0202  HLA A*020213
8342   HLA A*0203  HLA A*020313
10842  HLA A*0206  HLA A*020613
13333  HLA A*0301  HLA A*030113
16509  HLA A*1101  HLA A*110113
19585  HLA A*2301  HLA A*230113
19695  HLA A*2402  HLA A*240213
19968  HLA A*2403  HLA A*240313
20247  HLA A*2601  HLA A*260113
20897  HLA A*2902  HLA A*290213
21116  HLA A*3001  HLA A*300113
21776  HLA A*3002  HLA A*300213
21870  HLA A*3101  HLA A*310113
24792  HLA A*3301  HLA A*330113
26990  HLA A*6801  HLA A*680113
29186  HLA A*6802  HLA A*680213
31692  HLA A*6901  HLA A*690113
32506  HLA B*0702  HLA B*070213
           allele            id
236    HLA A*0101  HLA A*010114
1434   HLA A*0201  HLA A*020114
5840   HLA A*0202  HLA A*020214
8342   HLA A*0203  HLA A*020314
10842  HLA A*0206  HLA A*020614
13333  HLA A*0301  HLA A*030114
16509  HLA A*1101  HLA A*110114
19585  HLA A*2301  HLA A*230114
19695  HLA A*2402  HLA A*240214
19968  HLA A*2403  HLA A*240314
20247  HLA A*2601  HLA A*260114
20897  HLA A*2902  HLA A*290214
21116  HLA A*3001  HLA A*300114
21776  HLA A*3002  HLA A*300214
21870  HLA A*3101  HLA A*310114
24792  HLA A*3301  HLA A*330114
26990  HLA A*6801  HLA A*680114
29186  HLA A*6802  HLA A*680214
31692  HLA A*6901  HLA A*690114
32506  HLA B*0702  HLA B*070214
           allele            id
236    HLA A*0101  HLA A*010115
1434   HLA A*0201  HLA A*020115
5840   HLA A*0202  HLA A*020215
8342   HLA A*0203  HLA A*020315
10842  HLA A*0206  HLA A*020615
13333  HLA A*0301  HLA A*030115
16509  HLA A*1101  HLA A*110115
19585  HLA A*2301  HLA A*230115
19695  HLA A*2402  HLA A*240215
19968  HLA A*2403  HLA A*240315
20247  HLA A*2601  HLA A*260115
20897  HLA A*2902  HLA A*290215
21116  HLA A*3001  HLA A*300115
21776  HLA A*3002  HLA A*300215
21870  HLA A*3101  HLA A*310115
24792  HLA A*3301  HLA A*330115
26990  HLA A*6801  HLA A*680115
29186  HLA A*6802  HLA A*680215
31692  HLA A*6901  HLA A*690115
32506  HLA B*0702  HLA B*070215
           allele            id
236    HLA A*0101  HLA A*010116
1434   HLA A*0201  HLA A*020116
5840   HLA A*0202  HLA A*020216
8342   HLA A*0203  HLA A*020316
10842  HLA A*0206  HLA A*020616
13333  HLA A*0301  HLA A*030116
16509  HLA A*1101  HLA A*110116
19585  HLA A*2301  HLA A*230116
19695  HLA A*2402  HLA A*240216
19968  HLA A*2403  HLA A*240316
20247  HLA A*2601  HLA A*260116
20897  HLA A*2902  HLA A*290216
21116  HLA A*3001  HLA A*300116
21776  HLA A*3002  HLA A*300216
21870  HLA A*3101  HLA A*310116
24792  HLA A*3301  HLA A*330116
26990  HLA A*6801  HLA A*680116
29186  HLA A*6802  HLA A*680216
31692  HLA A*6901  HLA A*690116
32506  HLA B*0702  HLA B*070216
           allele            id
236    HLA A*0101  HLA A*010117
1434   HLA A*0201  HLA A*020117
5840   HLA A*0202  HLA A*020217
8342   HLA A*0203  HLA A*020317
10842  HLA A*0206  HLA A*020617
13333  HLA A*0301  HLA A*030117
16509  HLA A*1101  HLA A*110117
19585  HLA A*2301  HLA A*230117
19695  HLA A*2402  HLA A*240217
19968  HLA A*2403  HLA A*240317
20247  HLA A*2601  HLA A*260117
20897  HLA A*2902  HLA A*290217
21116  HLA A*3001  HLA A*300117
21776  HLA A*3002  HLA A*300217
21870  HLA A*3101  HLA A*310117
24792  HLA A*3301  HLA A*330117
26990  HLA A*6801  HLA A*680117
29186  HLA A*6802  HLA A*680217
31692  HLA A*6901  HLA A*690117
32506  HLA B*0702  HLA B*070217

           allele            id
236    HLA A*0101  HLA A*010118
1434   HLA A*0201  HLA A*020118
5840   HLA A*0202  HLA A*020218
8342   HLA A*0203  HLA A*020318
10842  HLA A*0206  HLA A*020618
13333  HLA A*0301  HLA A*030118
16509  HLA A*1101  HLA A*110118
19585  HLA A*2301  HLA A*230118
19695  HLA A*2402  HLA A*240218
19968  HLA A*2403  HLA A*240318
20247  HLA A*2601  HLA A*260118
20897  HLA A*2902  HLA A*290218
21116  HLA A*3001  HLA A*300118
21776  HLA A*3002  HLA A*300218
21870  HLA A*3101  HLA A*310118
24792  HLA A*3301  HLA A*330118
26990  HLA A*6801  HLA A*680118
29186  HLA A*6802  HLA A*680218
31692  HLA A*6901  HLA A*690118
32506  HLA B*0702  HLA B*070218
           allele            id
236    HLA A*0101  HLA A*010119
1434   HLA A*0201  HLA A*020119
5840   HLA A*0202  HLA A*020219
8342   HLA A*0203  HLA A*020319
10842  HLA A*0206  HLA A*020619
13333  HLA A*0301  HLA A*030119
16509  HLA A*1101  HLA A*110119
19585  HLA A*2301  HLA A*230119
19695  HLA A*2402  HLA A*240219
19968  HLA A*2403  HLA A*240319
20247  HLA A*2601  HLA A*260119
20897  HLA A*2902  HLA A*290219
21116  HLA A*3001  HLA A*300119
21776  HLA A*3002  HLA A*300219
21870  HLA A*3101  HLA A*310119
24792  HLA A*3301  HLA A*330119
26990  HLA A*6801  HLA A*680119
29186  HLA A*6802  HLA A*680219
31692  HLA A*6901  HLA A*690119
32506  HLA B*0702  HLA B*070219

In [ ]:
# Do clustering Hobohom 1 and Heuristic Clustering

In [ ]:
# Build the PSSM matrices