In [79]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
data_dir="/Users/laurasansc/github/algorithms_bioinformatics/data/"

In [13]:
# Read the input file
raw_data_file = data_dir + "predictions_smm.txt"
raw_data = pd.read_csv(raw_data_file, sep="\t")

raw_data

In [74]:
# Data distribution by IC50 and species
#raw_data['ic50'].hist(by=raw_data['species'])

In [27]:
# Group by human
human_data = raw_data[raw_data['species'].isin(['human'])]

human_data

In [90]:
#filtered_data = human_data.groupby("allele").filter(lambda x: (x["ic50"] < 500))
filtered_data = human_data.loc[human_data['ic50'] < 500 ]

filtered_data

      species      allele  length  cv   sequence inequality       ic50    smm
236     human  HLA A*0101       9   0  ATAKAAAAY          =   15.00000  403.4
237     human  HLA A*0101       9   0  ATDALMTGY          <    1.00000  127.6
245     human  HLA A*0101       9   0  CSNDKSLVY          =  115.00000  589.8
246     human  HLA A*0101       9   0  CTCGSSDLY          =  111.44500  151.6
247     human  HLA A*0101       9   0  CTDDNALAY          =    4.50000   68.4
...       ...         ...     ...  ..        ...        ...        ...    ...
41516   human  HLA B*5801       9   4  YLAVVPLVY          =   95.60930  239.7
41518   human  HLA B*5801       9   4  YPAEITLTW          =   55.00000  276.1
41522   human  HLA B*5801       9   4  YTAVVKLVY          =    3.73042   94.5
41525   human  HLA B*5801       9   4  YTAVVPLVM          =   12.29520   70.2
41530   human  HLA B*5801       9   4  YTFVVPLVY          =   65.14410   69.3

[11754 rows x 8 columns]

In [91]:
# get unique alleles names
alleles = filtered_data["allele"]
alleles = alleles.drop_duplicates()

# get top 20
alleles = alleles.head(20)
list_alleles = alleles.to_list()

In [92]:
# Get a final data frame with 20 human selected HLA alleles with IC50 > 500 
selected_alleles = pd.merge(filtered_data, alleles, on='allele')

selected_alleles

      species      allele  length  cv    sequence inequality      ic50     smm
0       human  HLA A*0101       9   0   ATAKAAAAY          =   15.0000   403.4
1       human  HLA A*0101       9   0   ATDALMTGY          <    1.0000   127.6
2       human  HLA A*0101       9   0   CSNDKSLVY          =  115.0000   589.8
3       human  HLA A*0101       9   0   CTCGSSDLY          =  111.4450   151.6
4       human  HLA A*0101       9   0   CTDDNALAY          =    4.5000    68.4
...       ...         ...     ...  ..         ...        ...       ...     ...
10481   human  HLA B*0702      10   4  SPMLYQLLEA          =   94.0370   256.0
10482   human  HLA B*0702      10   4  SPMVIATTDM          =   21.6111    29.4
10483   human  HLA B*0702      10   4  SPYYIRKESY          =   65.3635  1154.8
10484   human  HLA B*0702      10   4  TPARVTGGVF          =   15.8973    26.7
10485   human  HLA B*0702      10   4  VPDIKLDAVL          =    4.9440   544.5

[10486 rows x 8 columns]

In [98]:
# For each of the alleles
# Split 80/20 for train / test
# Write an ouput file for each
for item in list_alleles:
    allele2split = selected_alleles.loc[selected_alleles['allele']== item]
    train, test = train_test_split(allele2split, test_size=0.2)
    
    # Re-write item name without *
    item = item.replace(' ', '_')
    item = item.replace('*', '_')
    # Open output files
    name_file_train = item + "train.csv"
    train.to_csv("/data"+name_file_train)
    
    name_file_test = item + "test.csv"
    test.to_csv("/data"+name_file_test)

HLA_B_0702

In [ ]:
# Do clustering Hobohom 1 and Heuristic Clustering

In [ ]:
# Build the PSSM matrices